//-
    CREATED by          Gorthian
    Letzte Änderung		2023-01-22

//
    ********************************
    * START src/html/dicebot.pug
    ********************************

//- MIXINs

//- SEITENINHALT
div(class="sheet-dicebot")
    | Hier kommt der DICEBOT

//
    ********************************
    * ENDE src/html/dicebot.pug
    ********************************