//-
    CREATED by          Gorthian
    Letzte Änderung		2023-01-25

//
    ********************************
    * START src/html/dicebot.pug
    ********************************

//- MIXINs

//- SEITENINHALT
div(class="sheet-dicebot")
    div(class="sheet-dicebot-row")
        span Hier Attribut
        span Hier Skill
    div(class="sheet-dicebot-row")
        span(data-i18n="wuerfel")
        input(type="number" name="attr_probe_standard_wuerfel" readonly)
        span(data-i18n="hazard-di")
        input(type="number" name="attr_probe_hazard_wuerfel")
        span(data-i18n="bonus")
        input(type="number" name="attr_probe_bonus")
        button(type="action" name="act_wirf-probe" data-i18n="wuerfeln")

        input(type="number" name="attr_probe_summe_wuerfel" hidden)

//
    ********************************
    * ENDE src/html/dicebot.pug
    ********************************