//-
    CREATED by          Gorthian
    Letzte Änderung		2022-10-29

//
    ********************************
    * START src/html/page-one.pug
    ********************************

//- MIXINs

//- SEITENINHALT
div(class="sheet-page-one")
    include page-one/block-one.pug
    include page-one/block-two.pug
    include page-one/block-three.pug

//
    ********************************
    * ENDE src/html/page-one.pug
    ********************************