//-
    CREATED by          Gorthian
    Version				1.0
    Letzte Änderung		2022-10-27
    GitHub				https://github.com/Gorthian/Roll20_NoReturn_CharacterSheet
    Wiki				https://github.com/Gorthian/Roll20_NoReturn_CharacterSheet/wiki
    Bugs & Issues		https://github.com/Gorthian/Roll20_NoReturn_CharacterSheet/issues

div(class="sheet-page-two")
    Seite 2