//-
    CREATED by          Gorthian
    Version				1.0
    Letzte Änderung		2022-10-27
    GitHub				https://github.com/Gorthian/Roll20_NoReturn_CharacterSheet
    Wiki				https://github.com/Gorthian/Roll20_NoReturn_CharacterSheet/wiki
    Bugs & Issues		https://github.com/Gorthian/Roll20_NoReturn_CharacterSheet/issues

mixin input-text(attribute, i18n)
    div 
        span(class="sheet-input-label" data-i18n=i18n)
    div
        input(type="text" name="attr_"+attribute)

mixin max-current(attribute)
    div(class="sheet-max-current")
        h2(data-i18n=attribute)
        p
            span(data-i18n="gesamt")            
            span(data-i18n="aktuell")
        div(class="sheet-max-current-box")
            input(type="number" name="attr_"+attribute+"_max") 
            input(type="number" name="attr_"+attribute+"_current")

mixin kopfzeile
    div(class="sheet-attribut-zeile")
        div 
        div(class="sheet-kopfzeile")
            span(data-i18n="stufe")
        div(class="sheet-kopfzeile")
            span(data-i18n="modifikatoren")
        div    

mixin attributszeile(attribute)
    div(class="sheet-attribut-zeile")
        div(class="sheet-titel")
            span(data-i18n=attribute)
        div
            input(type="number" name="attr_"+attribute)
        div
            input(type="number" name="attr_"+attribute+"mod1")
            input(type="number" name="attr_"+attribute+"mod2")
        div 
            | [
            span(data-i18n=attribute+"_kurz")
            | ]

mixin sonderattributskopfzeile()
    div(class="sheet-sonderattribut-zeile")
        div 
        div(class="sheet-kopfzeile")
            span(data-i18n="stufe")

mixin sonderattributszeile(attribute)
    div(class="sheet-sonderattribut-zeile")
        div(class="sheet-sonderattribut-titel")
            span(data-i18n=attribute)
        div
            input(type="number" name="attr_"+attribute)

mixin fertigkeitszeile(skill,attribute)
    div(class="sheet-fertigkeiten-zeile")
        div 
            span(data-i18n=skill)
        div
            span(data-i18n=attribute+"_kurz")
        div
            input(type="number" name="attr_"+skill)
        div
            input(type="number" name="attr_"+skill+"_mod")

mixin trefferzone(zone)
    div(class="sheet-trefferzonen-eintrag")
        div(class="sheet-trefferzone-kopfzeile")
            div(class="sheet-kopfzeile")
                span(data-i18n="zone")
            div(class="sheet-kopfzeile")
                span(data-i18n="ruestungswert_kurz")
            div(class="sheet-kopfzeile")
                span(data-i18n="materialkomponente_kurz")
        div(class="sheet-trefferzone-zeile")
            div zone
            div
                input(type="number" name="attr_ruestungswert-zone-"+zone)
            div
                input(type="text" maxlength="1" name="attr_mk-zone-"+zone)

div(class="sheet-page-one")
    div(class="sheet-3cols")
        div(class="sheet-box")
            h1(data-i18n="charakterdaten")
            div(class="sheet-input-line")
                +input-text("character_name","charaktername")
            div(class="sheet-input-line")
                +input-text("spezies","spezies")
            div(class="sheet-input-line")
                +input-text("geschlecht","geschlecht")
                +input-text("alter","alter")
            div(class="sheet-input-line")
                +input-text("größe","größe")
                +input-text("gewicht","gewicht")
            div(class="sheet-input-line")
                textarea(name="attr_aussehen") 
        div(class="sheet-box")
        div(classs="sheet-logo")
            img(src="http://roll20.gorthian.de/noreturn/logo_200px.png")
        div(class="sheet-input-line")
            +input-text("player_name","spieler")
        div(class="sheet-input-line")
            +input-text("erstellungsdatum","erstellungsdatum")
        div(class="sheet-input-line")
            +input-text("charakterkonzept","charakterkonzept")
        div(class="sheet-box")
        h1(data-i18n="charakterkonditionen")
        div(class="sheet-input-line")
            +input-text("organismus","organismus")
        div(class="sheet-input-line")
            +input-text("psyche","psyche")
        div(class="sheet-input-line")
            +input-text("infektionsresistenz","infektionsresistenz")
        div(class="sheet-input-line")
            +input-text("butterflyeffekt","butterflyeffekt")
        div(class="sheet-3cols")
            +max-current("erfahrung")
            +max-current("justicepoints")
            +max-current("chaospoints")
    div(class="sheet-2cols")
        div(class="sheet-box")
            h1(data-i18n="attribute")
            div(class="sheet-attribute")
                div
                    +kopfzeile
                    +attributszeile("geschick")
                    +attributszeile("staerke")
                    +attributszeile("konstitution")
                    +attributszeile("beweglichkeit")
                div
                    +kopfzeile
                    +attributszeile("wahrnehmung")
                    +attributszeile("wissen")
                    +attributszeile("charisma")
                    +attributszeile("handwerk")
            p 
            div(class="sheet-sonderattribute")
                div
                    div(class="sheet-sonderattribut-zeile")
                        div 
                        div 
                    +sonderattributszeile("trefferpunkte")
                    +sonderattributszeile("dmg_schwellwert")
                div 
                    +sonderattributskopfzeile()
                    +sonderattributszeile("schmerztoleranz")
                div 
                    +sonderattributskopfzeile()
                    +sonderattributszeile("adrenalin")
                    +sonderattributszeile("meditation")
        div(class="sheet-trefferzonen")
            h1(data-i18n="körperzonen")
            div(class="sheet-trefferzonen-bild")
                img(src="https://gorthian.de/roll20/noreturn/trefferzonen_300px.png")
                div(class="sheet-trefferzonen-regeneration")
                    div(class="sheet-titel")
                        span(data-i18n="regeneration")
                        div
                            span(data-i18n="geschwindigkeit")
                            | &nbsp;/&nbsp;
                            span(data-i18n="pool")
                        div
                            input(type="number" name="attr_regeneration-geschwindigkeit")
                            | &nbsp;/&nbsp;
                            input(type="number" name="attr_regeneration-pool")                                
    div(class="sheet-3cols")
        div(class="sheet-box")
            h1(data-i18n="fertigkeiten")
            div(class="sheet-fertigkeiten-zeile")
                div(class="sheet-kopfzeile")
                    span(data-i18n="fertigkeit")
                div(class="sheet-kopfzeile")
                    span(data-i18n="attr")
                div(class="sheet-kopfzeile")
                    span(data-i18n="stufe")
                div(class="sheet-kopfzeile")
                    span(data-i18n="mod")
                each skill in skills
                    if skill.id < 37
                        +fertigkeitszeile(skill.name,skill.attribute)                        
        div(class="sheet-box")
            h1(data-i18n="fertigkeiten")
            div(class="sheet-fertigkeiten-zeile")
                div(class="sheet-kopfzeile")
                    span(data-i18n="fertigkeit")
                div(class="sheet-kopfzeile")
                    span(data-i18n="attr")
                div(class="sheet-kopfzeile")
                    span(data-i18n="stufe")
                div(class="sheet-kopfzeile")
                    span(data-i18n="mod")
                each skill in skills
                    if skill.id > 36
                        +fertigkeitszeile(skill.name,skill.attribute)
        div(class="sheet-box")
            h1(data-i18n="besondere-fertigkeiten")
                div(class="sheet-besondere-fertigkeiten-zeile")
                    div(class="sheet-kopfzeile")
                        span(data-i18n="fertigkeit")
                    div(class="sheet-kopfzeile")
                        span(data-i18n="stufe")
                fieldset(class="repeating_besondere-fertigkeiten")
                    div(class="sheet-besondere-fertigkeiten-zeile")
                        div
                            input(type="text" name="attr_besondere-fertigkeit-name")
                        div
                            input(type="number" name="attr_besondere-fertigkeit-stufe")
    div
        div(class="sheet-box")
            div(class="sheet-trefferzonen-liste")
                +trefferzone(12)
                +trefferzone(11)
                +trefferzone(6)
                +trefferzone(10)
                +trefferzone(5)
                +trefferzone(9)
                +trefferzone(4)
                +trefferzone(8)
                +trefferzone(3)
                +trefferzone(7)
                +trefferzone(2)
        
        div(class="sheet-box")
            h1(data-i18n="style-skills")
            div(class="sheet-style-skills-zeile")
                div(class="sheet-kopfzeile")
                    span(data-i18n="style-skill")
                div(class="sheet-kopfzeile")
                    span(data-i18n="stufe")
            fieldset(class="repeating_style-skills")
                div(class="sheet-style-skills-zeile")
                    div
                        input(type="text" name="attr_style-skill-name")
                    div
                        input(type="number" name="attr_style-skill-stufe")
        
        div(class="sheet-box")
            h1(data-i18n="charaktermerkmale")
            div(class="sheet-charaktermerkmale-zeile")
                div(class="sheet-kopfzeile")
                    span(data-i18n="charaktermerkmal")
                div(class="sheet-kopfzeile")
                    span(data-i18n="jp-cp")
            fieldset(class="repeating_charaktermerkmale")
                div(class="sheet-charaktermerkmale-zeile")
                    div
                        input(type="text" name="attr_charaktermerkmal-name")
                    div
                        input(type="number" name="attr_charaktermerkmal-stufe")