//-
    CREATED by          Gorthian
    Letzte Änderung		2022-10-29

//
    ********************************
    * START src/html/page-two.pug
    ********************************

//- MIXINs

//- SEITENINHALT
div(class="sheet-page-two")
    Seite 2

//
    ********************************
    * ENDE src/html/page-two.pug
    ********************************