//-
    CREATED by          Gorthian
    Letzte Änderung		2023-01-26

//
    ********************************
    * START src/html/rolltemplate.pug
    ********************************

//- MIXINs

//- SEITENINHALT

//- Offene Probe auf Fertigkeiten
rolltemplate(class="sheet-rolltemplate-probe_offen")
    div(class="sheet-template-container")
        div(class="sheet-template-header") {{fertigkeit}} - {{attribut}}
        hr
        div(class="sheet-template-row") 
            span(data-i18n="hazard-di")
            span
                img(src='https://gorthian.de/roll20/noreturn/dice_red.png' width='25px')
        div(class="sheet-template-row")
            span(class="sheet-template-zahlen") {{computed::hazard}}
            span(class="sheet-template-zahlen") = {{hazard}}
        div(class="sheet-template-row") 
            span(data-i18n="regulaere-di")
            span
                img(src='https://gorthian.de/roll20/noreturn/dice_white.png' width='25px')
        div(class="sheet-template-row")
            span(class="sheet-template-zahlen") {{computed::wurf}}
            span(class="sheet-template-zahlen") = {{wurf}}
        | {{#rollGreater() bonuswurf 0}}
        div(class="sheet-template-row") 
            span(data-i18n="bonus-di")
            span
                img(src='https://gorthian.de/roll20/noreturn/dice_white.png' width='25px')        
        div(class="sheet-template-row")
            span(class="sheet-template-zahlen") {{computed::bonuswurf}}
            span(class="sheet-template-zahlen") = {{bonuswurf}}
        | {{/rollGreater() bonuswurf 0}}
        | {{#rollGreater() bonus 0}}
        div(class="sheet-template-row")
            span Bonus
            span(class="sheet-template-zahlen") + {{bonus}}
        | {{/rollGreater() bonus 0}}
        div(class="sheet-template-row")
            span Summe
            span(class="sheet-template-zahlen") = {{computed::summe}}        
//
    ********************************
    * ENDE src/html/rolltemplate.pug
    ********************************