//-
    CREATED by          Gorthian
    Letzte Änderung		2023-01-18

//
    ********************************
    * START src/html/rolltemplate.pug
    ********************************

//- MIXINs
mixin rolltemplate-header(text)
    // MIXIN : rolltemplate.pug : rolltemplate-row
    div(class="sheet-template-header")= text
    hr

mixin rolltemplate-row(text, wert)
    // MIXIN : rolltemplate.pug : rolltemplate-row
    div(class="sheet-template-row") 
        span= text 
        span= wert

//- SEITENINHALT

//- Offene Probe auf Fertigkeiten
rolltemplate(class="sheet-rolltemplate-probe_offen")
    div(class="sheet-template-container")
        +rolltemplate-header("{{fertigkeit}} - {{attribut}}")
        +rolltemplate-row("Mindestwurf","{{mindestwurf}}")
        +rolltemplate-row("Hazard","{{hazard}}")
        +rolltemplate-row("Wurf","{{wurf}}")
        +rolltemplate-row("Bonus","{{bonus}}")
        +rolltemplate-row("Summe","{{computed::summe}}")

//
    ********************************
    * ENDE src/html/rolltemplate.pug
    ********************************