/*
	CREATED by 			Gorthian
	Version				1.0
	Letzte Änderung		2023-01-15
	
	GitHub				https://github.com/Gorthian/Roll20_NoReturn_CharacterSheet
	Wiki				https://github.com/Gorthian/Roll20_NoReturn_CharacterSheet/wiki
	Bugs & Issues		https://github.com/Gorthian/Roll20_NoReturn_CharacterSheet/issues
*/

/* Externe Schriftarten einbinden */
@font-face {
    font-family "downcome";
    src: url("https://gorthian.de/roll20/noreturn/fonts/DOWNCOME.TTF") format ("truetype");
}

@font-face {	
    font-family "eras bold";
    src: url("https://gorthian.de/roll20/noreturn/fonts/ERASBD.TTF") format ("truetype");
}

@font-face {
    font-family "eras demi";
    src: url("https://gorthian.de/roll20/noreturn/fonts/ERASDEMI.TTF") format ("truetype");
}

@font-face {
    font-family "eras light";
    src: url("https://gorthian.de/roll20/noreturn/fonts/ERASLGHT.TTF") format ("truetype");
}

@font-face {
    font-family "eras medium";
    src: url("https://gorthian.de/roll20/noreturn/fonts/ERASMD.TTF") format ("truetype");
}

/* CSS-Variablen für den Sheet */
div.sheet-noreturn {
	--max-line-width		: 98%;
}

div.sheet-noreturn {
    width               	: auto;
	min-width              	: 800px;
    background-color        : white;
    display                 : grid;
	grid-template-columns	: 20px auto;
	background-image		: url("https://gorthian.de/roll20/noreturn/background_800px.png");
	background-repeat		: no-repeat;
	background-size			: cover;
	padding					: 15px;	
}

div.sheet-noreturn .sheet-logo {
	text-align				: center;
}

div.sheet-noreturn .sheet-3cols {
    display                 : grid;
    grid-template-columns   : repeat(3, 33%);
	width					: var(--max-line-width);
}

div.sheet-noreturn .sheet-2cols {
    display                 : grid;
    grid-template-columns   : 66% 33%;
	width					: var(--max-line-width);
}

div.sheet-noreturn .sheet-2cols-50-50 {
	display                 : grid;
    grid-template-columns   : 50% 50%;
	width					: var(--max-line-width);
}

div.sheet-noreturn h1, div.sheet-noreturn h2 {    
    width                   : 100%;
    position                : relative;
    top                     : -18px;
}

div.sheet-noreturn div.sheet-box {
    background-image		: url("https://gorthian.de/roll20/noreturn/white60tranz_10x10.png");
	background-repeat		: repeat;
    margin                  : 5px;
}

div.sheet-noreturn .sheet-attribute {
    display                 : grid;
    grid-template-columns   : repeat(2, auto);
}

div.sheet-noreturn .sheet-sonderattribute {
    display                 : grid;
    grid-template-columns   : repeat(3, auto);
}

div.sheet-noreturn .sheet-attribut-zeile {
	display                 : grid;
    grid-template-columns   : 100px 40px 85px 10px;
}

div.sheet-noreturn .sheet-sonderattribut-zeile {
	display                 : grid;
    grid-template-columns   : 120px 40px;
}

div.sheet-noreturn .sheet-fertigkeiten-zeile {	
	display                 : grid;
    grid-template-columns   : 120px repeat(3, 40px);
}

div.sheet-noreturn .sheet-besondere-fertigkeiten-zeile,
div.sheet-noreturn .sheet-style-skills-zeile,
div.sheet-noreturn .sheet-charaktermerkmale-zeile {
	display                 : grid;
    grid-template-columns   : 200px 40px;
}

div.sheet-noreturn .sheet-attribut-zeile div,
div.sheet-noreturn .sheet-sonderattribut-zeile div,
div.sheet-noreturn .sheet-fertigkeiten-zeile div,
div.sheet-noreturn .sheet-besondere-fertigkeiten-zeile div,
div.sheet-noreturn .sheet-style-skills-zeile div,
div.sheet-noreturn .sheet-charaktermerkmale-zeile div {
    white-space				: nowrap;
}

div.sheet-noreturn div.sheet-attribut-zeile input[type="number"],
div.sheet-noreturn div.sheet-sonderattribut-zeile input[type="number"],
div.sheet-noreturn div.sheet-fertigkeiten-zeile input[type="number"] {
    border                  : 2px solid black;
	height					: 1.5em;
	width					: 40px;
	top						: -3px;
}

div.sheet-noreturn div.sheet-besondere-fertigkeiten-zeile input[type="number"],
div.sheet-noreturn div.sheet-besondere-fertigkeiten-zeile input[type="text"],
div.sheet-noreturn div.sheet-style-skills-zeile input[type="number"],
div.sheet-noreturn div.sheet-style-skills-zeile input[type="text"],
div.sheet-noreturn div.sheet-charaktermerkmale-zeile input[type="number"],
div.sheet-noreturn div.sheet-charaktermerkmale-zeile input[type="text"] {
    border-style			: none none solid none;
	border-width       		: 1px;
	border-color			: black;
	border-radius			: 0px;
	top						: -3px;
}

div.sheet-noreturn div.sheet-besondere-fertigkeiten-zeile input[type="number"],
div.sheet-noreturn div.sheet-style-skills-zeile input[type="number"],
div.sheet-noreturn div.sheet-charaktermerkmale-zeile input[type="number"] {
	height					: 1.5em;
	width					: 40px;
	top						: 4px;
}

div.sheet-noreturn div.sheet-titel,
div.sheet-noreturn div.sheet-sonderattribut-zeile div.sheet-sonderattribut-titel {
	height					: 1.5em;
}

div.sheet-noreturn div.sheet-trefferzonen-bild {
    z-index					: 0;
	position				: relative;
	display					: inline-block;
}

div.sheet-noreturn div.sheet-trefferzonen-bild img {
    display					: block;
	margin					: auto;
}

div.sheet-noreturn div.sheet-trefferzonen-regeneration {
    position				: relative;
	bottom					: 150px;
	left					: 150px;
	width					: 50%;
	height					: 0;
}

div.sheet-noreturn div.sheet-trefferzonen-regeneration div:nth-child(3) {
    border					: 2px solid black;
	text-align				: center;
}

div.sheet-noreturn div.sheet-trefferzonen-regeneration div {
    background-image		: url("https://gorthian.de/roll20/noreturn/white60tranz_10x10.png");
	background-repeat		: repeat;
}

div.sheet-noreturn div.sheet-trefferzonen-regeneration input[type="number"],
div.sheet-noreturn div.sheet-trefferzonen-regeneration input[type="text"] {
	top						: -2px;
	width					: 35px;
	height					: 17px;
	text-align				: center;
}

div.sheet-noreturn div.sheet-trefferzonen-liste {
	display                 : grid;
    grid-template-columns   : repeat(2, 115px);
	grid-gap				: 5px;
	white-space				: nowrap;
}

div.sheet-noreturn div.sheet-trefferzonen-liste div.sheet-trefferzonen-eintrag:first-child {
	grid-column				: 1 / 3;
	margin					: auto;
}

div.sheet-noreturn div.sheet-trefferzonen-liste div.sheet-trefferzonen-eintrag > div {
	display                 : grid;
    grid-template-columns   : repeat(3, 35px);
	white-space				: nowrap;
}

div.sheet-noreturn div.sheet-trefferzonen-liste div.sheet-trefferzone-zeile {
	border					: 1px solid black;
}

div.sheet-noreturn div.sheet-trefferzonen-liste div.sheet-trefferzone-kopfzeile {
	text-align				: center;
}

div.sheet-noreturn div.sheet-trefferzonen-liste div.sheet-trefferzone-zeile div:first-child {
	border-style			: none solid none none;
	border-width       		: 2px;
	border-color			: black;
	text-align				: center;
}

div.sheet-noreturn div.sheet-trefferzone-zeile input[type="number"],
div.sheet-noreturn div.sheet-trefferzone-zeile input[type="text"] {
	top						: -2px;
	width					: 35px;
	height					: 17px;
	text-align				: center;
}

div.sheet-noreturn div.sheet-max-current {
    background-color        : #EEE8E0;
    margin                  : 10px 0px 0px 0px;
}

div.sheet-noreturn div.sheet-max-current div.sheet-max-current-box {
    border                  : 2px solid black;
    margin                  : 0 auto auto 0;
    padding                 : 5px;
	white-space				: nowrap;
}

div.sheet-noreturn div.sheet-max-current input[type="number"] {
    width                    : 2em;
    top                      : -5px;
}

div.sheet-noreturn .sheet-input-line {
    border-bottom           : 1px solid black;
    width                   : 100% ;
    white-space             : nowrap;
    display                 : table;
}

div.sheet-noreturn .sheet-input-line div {
    display                 : table-cell;
}

div.sheet-noreturn .sheet-input-line span.sheet-input-label {
    position                : relative;
    top                     : 7px;
}

div.sheet-noreturn input {
    border                  : none;
    background-color        : transparent;
    width                   : 100%;
    position                : relative;
    top                     : 5px;
}

div.sheet-noreturn textarea {
    border                  : none;
    background-color        : transparent;
    width                   : 95%;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/*Configure the tab buttons*/
button.sheet-toggle-button {
	transform				: rotate(-90deg);
	font-family				: var(--font-highlight);
	text-transform          : uppercase;
	font-size				: 22px;
	white-space				: nowrap;
	position				: relative;
	left					: -50px;
	margin-bottom			: 50px;
}

.sheet-page-one,
.sheet-page-two {
    display: none;
}

/* TAB MENU */
.sheet-tabstoggle[value="page-one"] ~ div.sheet-page-one,
.sheet-tabstoggle[value="page-two"] ~ div.sheet-page-two {
    display: block;
}

/* Schriftarten definieren */

/* Font-Variablen für den Sheet */
div.sheet-noreturn {
	--font-standard			: "eras medium";
	--font-highlight		: "downcome";
	--font-h1-size			: 14pt;
	--font-h2-size			: 10pt;
	--font-big-size			: 12pt;
	--font-standard-size	: 10pt;
	--font-middle-size		: 8pt;
	--font-small-size		: 7pt;
}

div.sheet-noreturn {
    font-family				: var(--font-standard);
    font-size               : var(--font-standard-size);	
}

div.sheet-noreturn h1, div.sheet-noreturn h2 {
    font-family				: var(--font-highlight);
	text-transform          : uppercase;
    color                   : whitesmoke;
    text-shadow             : -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    text-align              : center;
}
div.sheet-noreturn h1 {font-size : var(--font-h1-size);}
div.sheet-noreturn h2 {font-size : var(--font-h2-size);}

.sheet-attribut-zeile, .sheet-sonderattribut-zeile {
	text-transform          : uppercase;
}

.sheet-fertigkeiten-zeile, .sheet-besondere-fertigkeiten-zeile, .sheet-style-skills-zeile, .sheet-charaktermerkmale-zeile {
	text-transform          : none;
}

div.sheet-noreturn div.sheet-kopfzeile,
div.sheet-noreturn div.sheet-titel,
div.sheet-noreturn div.sheet-sonderattribut-zeile div.sheet-sonderattribut-titel {
    font-family				: var(--font-highlight);
	text-transform          : uppercase;		
}

div.sheet-noreturn div.sheet-kopfzeile {
	font-size				: var(--font-middle-size);
}

div.sheet-noreturn div.sheet-titel,
div.sheet-noreturn div.sheet-sonderattribut-zeile div.sheet-sonderattribut-titel {
	font-size				: var(--font-big-size);
}

div.sheet-noreturn input {
	font-family				: var(--font-standard);
    font-size               : var(--font-standard-size);
}

div.sheet-noreturn div.sheet-trefferzonen-liste div.sheet-trefferzone-zeile div:first-child {
	font-weight				: bold;	
}

div.sheet-noreturn div.sheet-trefferzone-zeile input[type="text"] {
	text-transform          : uppercase;
	font-weight				: bold;
}

div.sheet-noreturn .sheet-input-line span.sheet-input-label {
    font-family				: var(--font-highlight);
	font-size				: var(--font-h2-size);
	text-transform          : uppercase;
}

.sheet-font-small-highlight {
	font-family				: var(--font-highlight);
	font-size				: var(--font-small-size);
	text-transform          : uppercase;
}

.sheet-font-darkgray-highlight {
	font-family				: var(--font-highlight);
	font-size				: var(--font-big-size);
	text-transform          : uppercase;
	color					: darkgray;
}