//
    CREATED by          Gorthian
    Version				1.0
    Letzte Änderung		2022-10-27
    GitHub				https://github.com/Gorthian/Roll20_NoReturn_CharacterSheet
    Wiki				https://github.com/Gorthian/Roll20_NoReturn_CharacterSheet/wiki
    Bugs & Issues		https://github.com/Gorthian/Roll20_NoReturn_CharacterSheet/issues

-
    var pages = [
        {name:'one', i18n:'seite-1'},
        {name:'two', i18n:'seite-2'},
    ];

    var i=0
    var skills = [
        {id:i++,name:'akrobatik', attribute:'beweglichkeit'},
        {id:i++,name:'astronomie', attribute:'wissen'},
        {id:i++,name:'akrobatik', attribute:'beweglichkeit'},
        {id:i++,name:'ausdauer', attribute:'konstitution'},
        {id:i++,name:'ausweichen', attribute:'beweglichkeit'},
        {id:i++,name:'basteln', attribute:'handwerk'},
        {id:i++,name:'blocken', attribute:'beweglichkeit'},
        {id:i++,name:'bodenfahrzeuge', attribute:'geschick'},
        {id:i++,name:'chemie', attribute:'wissen'},
        {id:i++,name:'computer', attribute:'wissen'},
        {id:i++,name:'dressieren', attribute:'charisma'},
        {id:i++,name:'einschuechtern', attribute:'charisma'},
        {id:i++,name:'einschuechtern', attribute:'staerke'},
        {id:i++,name:'elektronik', attribute:'handwerk'},
        {id:i++,name:'feuerwaffen', attribute:'handwerk'},
        {id:i++,name:'fluggeräte', attribute:'geschick'},
        {id:i++,name:'gassenwissen', attribute:'wissen'},
        {id:i++,name:'geschütze', attribute:'geschick'},
        {id:i++,name:'großraumschiff', attribute:'wissen'},
        {id:i++,name:'heimlichkeit', attribute:'wahrnehmung'},
        {id:i++,name:'inspiration', attribute:'charisma'},
        {id:i++,name:'klettern', attribute:'beweglichkeit'},
        {id:i++,name:'kunst', attribute:'handwerk'},
        {id:i++,name:'mechanik', attribute:'handwerk'},
        {id:i++,name:'medizin', attribute:'wissen'},
        {id:i++,name:'menschenkenntnis', attribute:'charisma'},
        {id:i++,name:'nachforschen', attribute:'wahrnehmung'},
        {id:i++,name:'nahkampf', attribute:'beweglichkeit'},
        {id:i++,name:'naturkunde', attribute:'wissen'},
        {id:i++,name:'orientierung', attribute:'wahrnehmung'},
        {id:i++,name:'projektilwaffen', attribute:'geschick'},
        {id:i++,name:'raumjaeger', attribute:'geschick'},
        {id:i++,name:'raumschiff', attribute:'geschick'},
        {id:i++,name:'reaktion', attribute:'wahrnehmung'},
        {id:i++,name:'reiten', attribute:'beweglichkeit'},
        {id:i++,name:'rennen', attribute:'beweglichkeit'},
        {id:i++,name:'robotik', attribute:'handwerk'},
        {id:i++,name:'ruestungsbau', attribute:'handwerk'},
        {id:i++,name:'sagen-mythen', attribute:'wissen'},
        {id:i++,name:'saufen', attribute:'konstitution'},
        {id:i++,name:'schaetzen', attribute:'wahrnehmung'},
        {id:i++,name:'schauspiel', attribute:'charisma'},
        {id:i++,name:'schiessen', attribute:'geschick'},
        {id:i++,name:'schwere-waffen', attribute:'geschick'},
        {id:i++,name:'schwimmen', attribute:'beweglichkeit'},
        {id:i++,name:'sicherheitstechnik', attribute:'handwerk'},
        {id:i++,name:'spezies', attribute:'wissen'},
        {id:i++,name:'springen', attribute:'beweglichkeit'},
        {id:i++,name:'spruehwaffen', attribute:'geschick'},
        {id:i++,name:'stemmen', attribute:'staerke'},
        {id:i++,name:'taschendiebstahl', attribute:'geschick'},
        {id:i++,name:'ueberreden', attribute:'charisma'},
        {id:i++,name:'verhandeln', attribute:'charisma'},
        {id:i++,name:'waffenbau', attribute:'handwerk'},
        {id:i++,name:'waffenkampf', attribute:'beweglichkeit'},
        {id:i++,name:'wasserfahrzeuge', attribute:'geschick'},
        {id:i++,name:'willenskraft', attribute:'wissen'},
        {id:i++,name:'wurfwaffen', attribute:'geschick'},
        {id:i++,name:'zero-g', attribute:'beweglichkeit'},
    ]

div(class="sheet-noreturn")
    input(type="hidden" class="sheet-tabstoggle" name="attr_sheetTab" value="page-one")
    div(class="sheet-tabs")
        each page in pages
            button(class="sheet-toggle-button" type="action" name="act_page-"+page.name data-i18n=page.i18n)
    include src/html/page-one.pug
    include src/html/page-two.pug

// SHEET WORKERS
script(type="text/worker")
    include src/js/sheetworker.js