/*
	CREATED by 			Gorthian
	Version				1.0
	Letzte Änderung		2022-09-24
	
	GitHub				https://github.com/Gorthian/Roll20_NoReturn_CharacterSheet
	Wiki				https://github.com/Gorthian/Roll20_NoReturn_CharacterSheet/wiki
	Bugs & Issues		https://github.com/Gorthian/Roll20_NoReturn_CharacterSheet/issues
*/

@font face {
    font-family "downcome";
    src: url("https://gorthian.de/roll20/noreturn/fonts/DOWNCOME.TTF") format ("truetype");
}

@font face {	
    font-family "erasbd";
    src: url("https://gorthian.de/roll20/noreturn/fonts/ERASBD.TTF") format ("truetype");
}

@font face {
    font-family "erasdemi";
    src: url("https://gorthian.de/roll20/noreturn/fonts/ERASDEMI.TTF") format ("truetype");
}

@font face {
    font-family "eraslght";
    src: url("https://gorthian.de/roll20/noreturn/fonts/ERASLGHT.TTF") format ("truetype");
}

@font face {
    font-family "erasmd";
    src: url("https://gorthian.de/roll20/noreturn/fonts/ERASMD.TTF") format ("truetype");
}

div.sheet-noreturn {
    max-width               : 800px;
    background-color        : white;
    display                 : grid;
    grid-auto-flow          : dense;
	font-family				: "erasbd";
    font-size               : 12px;
	background-image		: url("https://gorthian.de/roll20/noreturn/background_800px.png");
	background-repeat		: no-repeat;
	background-size			: cover;
	padding					: 15px;
	
	--max-line-width		: 98%;
}

div.sheet-noreturn .sheet-logo {
	text-align				: center;
}

div.sheet-noreturn .sheet-3cols {
    display                 : grid;
    grid-template-columns   : repeat(3, 33%);
	width					: var(--max-line-width);
}

div.sheet-noreturn .sheet-2cols {
    display                 : grid;
    grid-template-columns   : 66% 33%;
	width					: var(--max-line-width);
}

div.sheet-noreturn h1, div.sheet-noreturn h2 {
    font-family				: "downcome";
	text-transform          : uppercase;
    color                   : whitesmoke;
    text-shadow             : -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    width                   : 100%;
    text-align              : center;
    position                : relative;
    top                     : -18px;
}

div.sheet-noreturn h1 {font-size : 20px;}
div.sheet-noreturn h2 {font-size : 18px;}

div.sheet-noreturn div.sheet-box {
    background-image		: url("https://gorthian.de/roll20/noreturn/white60tranz_10x10.png");
	background-repeat		: repeat;
    margin                  : 5px;
}

div.sheet-noreturn .sheet-attribute {
    display                 : grid;
    grid-template-columns   : repeat(2, auto);
}

div.sheet-noreturn .sheet-sonderattribute {
    display                 : grid;
    grid-template-columns   : repeat(3, auto);
}

div.sheet-noreturn .sheet-attribut-zeile {
	text-transform          : uppercase;
	display                 : grid;
    grid-template-columns   : 100px 40px 85px 10px;
}

div.sheet-noreturn .sheet-sonderattribut-zeile {
	text-transform          : uppercase;
	display                 : grid;
    grid-template-columns   : 120px 40px;
}

div.sheet-noreturn .sheet-fertigkeiten-zeile {
	text-transform          : none;
	display                 : grid;
    grid-template-columns   : 120px repeat(3, 40px);
}

div.sheet-noreturn .sheet-attribut-zeile div,
div.sheet-noreturn .sheet-sonderattribut-zeile div,
div.sheet-noreturn .sheet-fertigkeiten-zeile div {
    white-space				: nowrap;
}

div.sheet-noreturn div.sheet-attribut-zeile input[type="number"],
div.sheet-noreturn div.sheet-sonderattribut-zeile input[type="number"],
div.sheet-noreturn div.sheet-fertigkeiten-zeile input[type="number"] {
    border                  : 2px solid black;
	height					: 1.5em;
	width					: 40px;
	top						: -3px;
}

div.sheet-noreturn div.sheet-kopfzeile {
    text-transform          : uppercase;
	font-weight				: bold;
	font-size				: 9px;
}

div.sheet-noreturn div.sheet-attribut-zeile div.sheet-attribut-titel,
div.sheet-noreturn div.sheet-sonderattribut-zeile div.sheet-sonderattribut-titel {
    text-transform          : uppercase;
	font-weight				: bold;
	font-size				: 11px;
	height					: 1.5em;
}

div.sheet-noreturn div.sheet-trefferzonen {
    background-image		: url("https://gorthian.de/roll20/noreturn/trefferzonen_300px.png");
	background-repeat		: no-repeat;
	background-size			: contain;
	height					: 270px;
}

div.sheet-noreturn div.sheet-max-current {
    background-color        : #EEE8E0;
    margin                  : 10px 0px 0px 0px;
}

div.sheet-noreturn div.sheet-max-current div.sheet-max-current-box {
    border                  : 2px solid black;
    margin                  : 0 auto auto 0;
    padding                 : 5px;
}

div.sheet-noreturn div.sheet-max-current p {
    font-size               : 10px;
}

div.sheet-noreturn div.sheet-max-current input[type="number"] {
    width                    : 2em;
    top                      : -5px;
}

div.sheet-noreturn .sheet-input-line {
    border-bottom           : 1px solid black;
    width                   : 100% ;
    white-space             : nowrap;
    display                 : table;
}

div.sheet-noreturn .sheet-input-line div {
    display                 : table-cell;
}

div.sheet-noreturn .sheet-input-line span.sheet-input-label {
    text-transform          : uppercase;
    font-weight             : bold;
    position                : relative;
    top                     : 7px;
}

div.sheet-noreturn input {
    border                  : none;
    background-color        : transparent;
    width                   : 100%;
    position                : relative;
    top                     : 5px;
}

div.sheet-noreturn textarea {
    border                  : none;
    background-color        : transparent;
    width                   : 95%;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}