//-
    CREATED by          Gorthian
    Letzte Änderung		2023-05-11

//
    ********************************
    * START src/html/page-one/block-three-third-row.pug
    ********************************

//- MIXINs
mixin trefferzone(zone)
    // MIXIN : src/html/page-one/block-three-third-row.pug : trefferzone
    div(class="sheet-trefferzonen-eintrag")
        div(class="sheet-trefferzone-kopfzeile")
            div(class="sheet-kopfzeile")
                span(data-i18n="zone")
            div(class="sheet-kopfzeile")
                span(data-i18n="trefferpunkte_kurz")
            div(class="sheet-kopfzeile")
                span(data-i18n="ruestungswert_kurz")
            div(class="sheet-kopfzeile")
                span(data-i18n="materialkomponente_kurz")
        div(class="sheet-trefferzone-zeile")
            div 
                span= zone
            div
                input(type="number" name="attr_trefferpunkte-zone-"+zone)
            div
                input(type="number" name="attr_ruestungswert-zone-"+zone)
            div
                input(type="text" maxlength="1" name="attr_mk-zone-"+zone)

//- SEITENINHALT
div
    div(class="sheet-box" role="section")
        div(class="sheet-trefferzonen-liste")
            +trefferzone(12)
            +trefferzone(11)
            +trefferzone(6)
            +trefferzone(10)
            +trefferzone(5)
            +trefferzone(9)
            +trefferzone(4)
            +trefferzone(8)
            +trefferzone(3)
            +trefferzone(7)
            +trefferzone(2)
    
    div(class="sheet-box" role="section")
        h1(data-i18n="style-skills")
        div(class="sheet-style-skills-zeile")
            div(class="sheet-kopfzeile")
                span(data-i18n="style-skill")
            div(class="sheet-kopfzeile")
                span(data-i18n="stufe")
        fieldset(class="repeating_style-skills")
            details 
                summary 
                    div(class="sheet-style-skills-zeile")
                        div
                            input(type="text" name="attr_style-skill-name")
                        div
                            input(type="number" name="attr_style-skill-stufe")
                textarea(name="attr_style-skill-info" class="sheet-style-skills")
    
    div(class="sheet-box")
        h1(data-i18n="charaktermerkmale")
        div(class="sheet-charaktermerkmale-zeile")
            div(class="sheet-kopfzeile")
                span(data-i18n="charaktermerkmal")
        fieldset(class="repeating_charaktermerkmale")
            details
                summary 
                    div(class="sheet-charaktermerkmale-zeile")
                        div
                            input(type="text" name="attr_charaktermerkmal-name")
                textarea(name="attr_charaktermerkmal-info" class="sheet-style-skills")
            

//
    ********************************
    * ENDE src/html/page-one/block-three-third-row.pug
    ********************************