//-
    CREATED by          Gorthian
    Letzte Änderung		2023-03-19

//
    ********************************
    * START src/html/page-one/block-two.pug
    ********************************

//- MIXINs
mixin kopfzeile
    // MIXIN : src/html/page-one/block-two.pug : kopfzeile
    div(class="sheet-attribut-zeile")
        div        
        div(class="sheet-kopfzeile")
            span(data-i18n="stufe")
        div
        div(class="sheet-kopfzeile")
            span(data-i18n="modifikatoren")
        div        

mixin attributszeile(attribute)
    // MIXIN : src/html/page-one/block-two.pug : attributszeile
    div(class="sheet-attribut-zeile")
        div(class="sheet-titel sheet-tooltip")
            button(type="action" class="sheet-button-transparent" name="act_probe-"+attribute)
                span(data-i18n=attribute)
            span(class="sheet-tooltiptext" data-i18n="tooltip-probe")        
        div
            input(type="number" name="attr_"+attribute)
        div(class="sheet-titel sheet-tooltip")
            button(type="action" class="sheet-button-d6" name="act_probe-ohne-mod-"+attribute)
            span(class="sheet-tooltiptext" data-i18n="tooltip-probe-ohne-mod")
        div
            input(type="number" name="attr_"+attribute+"-mod1")
            input(type="number" name="attr_"+attribute+"-mod2")        
        div(class="sheet-font-darkgray-highlight") 
            | [
            span(data-i18n=attribute+"_kurz")
            | ]

mixin sonderattributskopfzeile(text)
    // MIXIN : src/html/page-one/block-two.pug : sonderattributskopfzeile
    div(class="sheet-sonderattribut-zeile")
        div 
        div(class="sheet-kopfzeile")
            span(data-i18n=text)

mixin sonderattributszeile(attribute)
    // MIXIN : src/html/page-one/block-two.pug : sonderattributszeile
    div(class="sheet-sonderattribut-zeile")
        div(class="sheet-sonderattribut-titel")
            span(data-i18n=attribute)
        div
            input(type="number" name="attr_"+attribute)

//- SEITENINHALT
div(class="sheet-2cols")
    div(class="sheet-box")
        h1(data-i18n="attribute")
        div(class="sheet-attribute")
            div
                +kopfzeile
                +attributszeile("geschick")
                +attributszeile("staerke")
                +attributszeile("konstitution")
                +attributszeile("beweglichkeit")
            div
                +kopfzeile
                +attributszeile("wahrnehmung")
                +attributszeile("wissen")
                +attributszeile("charisma")
                +attributszeile("handwerk")
        p 
        div(class="sheet-sonderattribute")
            div
                +sonderattributskopfzeile("wert")
                +sonderattributszeile("trefferpunkte")
                +sonderattributszeile("dmg_schwellwert")
            div 
                +sonderattributskopfzeile("stufe")
                +sonderattributszeile("schmerztoleranz")
                +sonderattributszeile("blutpunkte")
            div 
                +sonderattributskopfzeile("stufe")
                +sonderattributszeile("adrenalin")
                +sonderattributszeile("meditation")
        div(class="sheet-trefferzonen-regeneration")
            div(class="sheet-titel")
                span(data-i18n="regeneration")
                span &nbsp;:
                span(data-i18n="geschwindigkeit") 
                input(type="number" name="attr_regeneration-geschwindigkeit")
                span &nbsp; &nbsp;
                span(data-i18n="pool")
                input(type="number" name="attr_regeneration-pool")                    
    div(class="sheet-trefferzonen")
        h1(data-i18n="körperzonen")
        div(class="sheet-trefferzonen-bild")
            img(src="https://gorthian.de/roll20/noreturn/trefferzonen_300px.png")            

//
    ********************************
    * ENDE src/html/page-one/block-two.pug
    ********************************