//-
    CREATED by          Gorthian
    Letzte Änderung		2022-10-29

//
    ********************************
    * START src/html/page-one/block-three.pug
    ********************************

//- MIXINs
mixin fertigkeitszeile(skill,attribute)
    // MIXIN : src/html/page-one/block-three.pug : fertigkeitszeile
    div(class="sheet-fertigkeiten-zeile")
        div 
            span(data-i18n=skill)
        div
            span(data-i18n=attribute+"_kurz")
        div
            input(type="number" name="attr_"+skill)
        div
            input(type="number" name="attr_"+skill+"_mod")

//- SEITENINHALT
div(class="sheet-3cols")
    include block-three-first-row.pug
    include block-three-second-row.pug
    include block-three-third-row.pug    
//
    ********************************
    * ENDE src/html/page-one/block-three.pug
    ********************************