//-
    CREATED by          Gorthian
    Letzte Änderung		2023-09-13

//
    ********************************
    * START src/html/page-three/block-one.pug
    ********************************
//- MIXINs

//- SEITENINHALT
div   
        +repeating-textarea("psi-kraefte")
    
//
    ********************************
    * ENDE src/html/page-three/block-one.pug
    ********************************