//-
    CREATED by          Gorthian
    Letzte Änderung		2022-11-02

//
    ********************************
    * START src/html/page-two/block-four.pug
    ********************************
//- MIXINs

//- SEITENINHALT
div(class="sheet-2cols")
    div(class="sheet-box")
        h1(data-i18n="sprachkenntnisse")
    div(class="sheet-box")
        h1(data-i18n="vor-nachteile")
    
//
    ********************************
    * ENDE src/html/page-two/block-four.pug
    ********************************