//-
    CREATED by          Gorthian
    Letzte Änderung		2022-11-02

//
    ********************************
    * START src/html/page-two/block-three.pug
    ********************************
//- MIXINs

//- SEITENINHALT
div(class="sheet-2cols")
    div 
        // include block-three-kampf.pug 
        div(class="sheet-2cols")
            // include block-three-bio.pug
    div 
        // include block-three-notiz.pug 
        // include block-three-physio.pug 
    
//
    ********************************
    * ENDE src/html/page-two/block-three.pug
    ********************************