//-
    CREATED by          Gorthian
    Letzte Änderung		2022-11-02

//
    ********************************
    * START src/html/page-two/block-two.pug
    ********************************
//- MIXINs

//- SEITENINHALT
div
    div(class="sheet-box")
        h1(data-i18n="fernkampfwaffen")
    
//
    ********************************
    * ENDE src/html/page-two/block-two.pug
    ********************************